# Configuración de Red Avalanche Fuji
VITE_FUJI_RPC_URL="https://api.avax-test.network/ext/bc/C/rpc"
VITE_PRIVATE_KEY="tu_clave_privada_aqui"

# Supabase Configuration
VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Otras redes (Opcional)
SEPOLIA_RPC_URL=""
SEPOLIA_PRIVATE_KEY=""
